<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <title>{% block head_title %}판매자 페이지{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/seller.css' %}">
</head>

<body>
  {% include 'blog/navbar_seller.html' %}

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <!-- Sidebar -->
        <div class="list-group">
          <a href="{% url 'seller_dashboard' %}" class="list-group-item">대시보드</a>
          <a href="{% url 'seller_products' %}" class="list-group-item">상품 관리</a>
          <a href="{% url 'seller_orders' %}" class="list-group-item">주문 관리</a>
          <a href="{% url 'seller_profile' %}" class="list-group-item">프로필 설정</a>
        </div>
      </div>

      <div class="col-md-10">
        {% block content %}
        <!-- 콘텐츠 블록 -->
        {% endblock %}
      </div>
    </div>
  </div>

  {% include 'blog/footer.html' %}
</body>
</html>
