{% extends 'blog/base.html' %}
{% load humanize %}

{% block main_area %}

<div class="container main-content">
    <br>
    <div class="row g-4">
        <!-- 상품 리스트 -->
        {% for p in products %}
        <div class="col-12 col-lg-6" id="post-{{ p.pk }}">
            <!-- 카드 전체를 클릭 가능하게 -->
            <div class="card h-100">
                <a href="{{ p.get_absolute_url }}" class="text-decoration-none text-dark">
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
                    <div class="card-body text-center">
                        <h5>{{ p.title }}</h5>
                        {% if p.stock <= 0 %}
                            <p><b>Out of Stock</b></p>
                        {% elif p.stock <= 5 %}
                            <p class="red-thin-text"><b>{{ p.stock }}개 남음</b></p>
                            <p class="text-dark"><b>{{ p.price|intcomma }} 원</b></p>
                        {% else %}
                            <p class="text-dark"><b>{{ p.price|intcomma }} 원</b></p>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br>

<!-- 페이지네이션 -->
<div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}
        <br>
        <div class="text-center">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}" class="btn btn-light btn-sm">&larr; Previous</a>
            {% endif %}

            {% for pg in products.paginator.page_range %}
                <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{ pg }}</a>
            {% endfor %}

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="btn btn-light btn-sm">Next &rarr;</a>
            {% endif %}
        </div>
    {% endif %}
</div>

<br>

{% endblock %}
